<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" formControlName="name" size="30">
                </td>
            </tr>
            <tr>
                <td>
                    Title:
                </td>
                <td>
                    <input type="text" formControlName="title" size="30">
                </td>
            </tr>
            <tr>
                <td>
                    Comments:
                </td>
                <td>
                    <textarea cols="30" rows="10" formControlName="comment"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Archive:
                </td>
                <td>
                    <input type="file" accept=".zip" #file (change)="fileSubmit()">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" [routerLink]="['']">Cancel</button>
                </td>
                <td>
                    <button type="submit" [disabled]="isFormInvalid()">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>